@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/bootstrap.scss';
@import "./fonts.scss";
@import "./varibles.scss";
@import "./mixisns.scss";
@import "./keyframes.scss";

// ==== pages ====
@import "./app.scss";
@import "./pages/header.scss";
@import "./pages/main.scss";
@import "./pages/login.scss";
@import "./pages/figures.scss";
@import "./pages/bots.scss";

// @material icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// 1600px
@media only screen and (max-width: 1600px) {
    #main{
        .hero-article{
            h1{
                font-size: 90px
            }

        }
        .pricing-section {
            .anima-pricing {
             
                .anima-pricing-banner{
                    .anima-pricing-about{
                        font-size: 11px;
                        margin-bottom:1.2vw;
                        width: 70%;
                    }
                }
                .anima-pricing-banner.pro{
                    .anima-pricing-about{
                        font-size: 12px;
                        margin-bottom: 1.2vw;
                    }
                }
            }
        }
    }
}
// 1500px
@media only screen and (max-width: 1500px) {
    #main{
        .hero-article{
            h1{
                font-size: 80px
            }
            p{
                font-size: 13px;
            }
        }
    }
    #bot-gallery .anima-bots-grid .anima-bot article {
        .bots-title {
            font-size: 28px;
            line-height: 24px;
        }
        .open-bot-link {
            font-size: 13px;
        }
    }
}
// 1400px
@media only screen and (max-width: 1400px) {
    #main{
        .hero-article{
            h1{
                font-size: 70px
            }
            p{
                font-size: 12px;
            }
        }
    }
}
// 1300px
@media only screen and (max-width: 1300px) {

}
// 1200px
@media only screen and (max-width: 1200px) {

}
// 992px
@media only screen and (max-width: 992px) {

}