#bot-gallery{
    min-height: 100vh;
    padding-top: 16vh;
    padding-bottom: 8.3vh;
    width: 72.7vw;
    .anima-bots-heading{
        margin-bottom: 9.5vh;
        color: #E6E6E6;
        text-align: center;
        font-size: 90px;
        line-height: 69px;
        font-family: 'PantonMtav3';
    }
    .anima-bots-grid{
        display: grid;
        grid-row-gap: 3.65vw;
        grid-column-gap: 3.65vw;
        grid-template-columns:  auto auto auto auto;
      
        .anima-bot{
            border: solid 1px rgba(31, 242, 253, 0.9);
            border-radius: 5px;
            // height: 32.4vh;
            height: 350px;
            background: rgba(0, 0, 0, .8);
            article{
                position: relative;
                height: 100%;
                // padding-top: 15%;
                // padding-left: 23%;
                .bots-title{
                    position: absolute;
                    font-family: "PantonMtav3";
                    font-size: 32px;
                    line-height: 28px;
                    color: #fff;
                    text-decoration: none;
                    margin-left: 1.3vw;
                    margin-top: 13vh;
                    max-width: 50%;
                    z-index: 1;
                }
                .bot-image-space{
                    width: 77%;
                    height: 85%;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    overflow: hidden;
                    img{
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: auto;
                        height: 100%;
                        opacity: .5;
                    }
                }
                .bot-image-space.default-avatar{
                    width: 50%;
                    img{
                        transform: translate(0, 0);
                        left:0; 

                    }
                }
                
            }
        }
        .anima-bot:hover {
            .bot-image-space{
                width: 100% !important;
                height: 100%;
                transition: .2s ease-out;
            }
            .default-avatar{
                // transform: translate(0,0)
                img{
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                }
            }
        }
    }
    
}