#header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    z-index: 100;
    //* left: 50%;
    //* transform: translateX(-50%);
    // container
    min-width: 1024px;
    margin-left:11.2vw;
    margin-right: 7.3vw;
    width: calc(100% - 7.3vw - 11.2vw);
    > a img{
        animation-name: rubberBand;
        animation-duration: 0.3s;
        width: 100px;
    }
    .anima-nav {
        max-width: 55%;
        width: 680px;
        display: flex;
        align-items: center;
        animation-name: bounce;
        animation-duration: 0.4s;
        transform-origin: center bottom;
        .anima-menu-list{
            width: 100%;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 0px;
            margin: 0;
            flex-direction: row-reverse;
            .anima-menu-link{
                font-size: 14px;
                font-family: "BPG LE Studio 04 Caps", sans-serif;
                align-items: center;
                display: flex;
                span::selection{
                    background-color: transparent;
                }
                a,span{
                    color: #fff !important;
                    line-height: 1 !important;
                    text-decoration: none !important;
                    cursor: pointer;
                }
            }
            .anima-globe{
                .material-icons{
                    font-size: 18px;
                    color: #F5F4F4;
                    //* opacity: .5;
                }
            }
            .anima-login-link{
                border: solid 1px #1FF2FD;
                border-radius: 5px;
                box-shadow: 0 0 14px rgba(30, 233, 255, 0.5);
                padding: 10px;
                padding-bottom: 6.5px;
            }
        }
    }
}