#login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    .auth{
        width:30vw;
        // height: 65vh;
        margin-top: 80px;
        margin-bottom: 80px;
        border:solid rgba(255, 255, 255, 0.5) 2px;
        background-image: url("../img/login-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .2);
        color: #fff;
        text-align: center;
        .auth-text{
            margin-top: 11.8vh;
            // text-align: center;
            font-family: "PantonMtav3";
            margin-bottom: 10.4vh;
        }
        .auth-form{
            width: 19.3vw;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 12.4vh; 
            .input-group.error-input{
                border-color: #FF0053;
            }
            .custom-error{
                color: #FF0053;
                display: block;
                font-family: "BPG LE Studio 04 Caps", sans-serif;
                font-size: 12px;
                text-align: left;
                transition: all .4s ease;
                margin: 1px 0;
                animation-name: fadeInLeft;
                animation-duration: 0.4s;
            }

            .input-group{
                border-bottom:solid 1px #fff;
                margin-top: 4.63vh;
                
                input{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;
                    height: auto;
                    padding: 0;
                    padding-right: 12px;
                    font-size: 16px;
                    color: #fff;
                    font-family: "BPG LE Studio 04 Caps", sans-serif;
                
                }
                input::placeholder{
                    font-size: 16px;
                    color:rgba(255, 255, 255, .5);
                    font-family: "BPG LE Studio 04 Caps", sans-serif;
                }
                .input-group-text{
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    color: #DDDCDC;
                    margin-bottom: 10px;
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
        .auth-submit{
            border: solid 1px rgba(31, 242, 253, 0.9);
            border-radius: 5px;
            box-shadow: 0 0 7px rgba(30, 233, 255, 0.5);
            outline: none !important;
            font-family: "ALK Sanet", sans-serif;
            font-size: 14px;
            line-height: 1;
            background-color: transparent;
            color: #fff;
            width: 9.8vw;
            margin-bottom: 1.38vh;
            padding: 6px 0 4px;
        }
        .auth-forgot-password{
            color: #fff;
            width: fit-content;
            display: flex;
            margin: 0 auto;
            font-size: 12px;
            font-family: "ALK Sanet", sans-serif;
            margin-bottom: 6.48vh;
            text-decoration: none;
        }
        .auth-registration{
            color: #fff;
            width: fit-content;
            display: flex;
            margin: 0 auto;
            font-size: 12px;
            font-family: "ALK Sanet", sans-serif;
            margin-bottom: 3.48vh;
            text-decoration: none;
        }
    }
}