#main{
    position: relative;
    padding-top: 4.5vw;
    .hero-article{
        margin-top: 70px;
        padding-left: 3.4vw;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        h1{
            color:#fff;
            font-size: 114px;
            font-family: "PantonMtav3";
            font-weight: bold;
            line-height: 0.8;
            margin: 0;
            animation-name: fadeInLeft;
            animation-duration: 0.5s;
            width: 100%;
        }
        p{
            padding-left: 2vw;
            color: rgba(79, 220, 255, .95);
            font-size: 14px;
            line-height: 1.56;
            text-shadow: 0 0 5px rgba(79, 220, 255, .35);
            width: 45%;
            animation-name: fadeInLeft;
            animation-duration: 0.7s;
            margin: 0;
            font-family: 'Noto Sans', sans-serif;
        }
        .chat-anima-btn{
            font-size: 12px;
            color: #fff;
            font-family: "BPG LE Studio 04 Caps", sans-serif;
            line-height: 1;
            text-align: center;
            width: 190px;
            padding:10px 0 7.5px;
            border: solid #E24EFF 1px;
            border-radius: 5px;
            background-color: rgba(255, 0, 255, .16);
            box-shadow: 0 0 7px rgba(255, 0, 255, .65);
            outline: none !important;
            position: relative;
            margin-top: 1.77vw;
            margin-right: 50%;
            animation-name: fadeInLeft;
            animation-duration: 0.8s;
        }
        .chat-anima-btn:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 4px;
            top: 4px;
            opacity: 0.77;
            border-radius: 5px;
            border: solid 1px #44F6FF;
            box-shadow: 0 0 5px #1EE9FF;
            animation-name: fadeInLeft;
            z-index: -1;
        }
  
    }
    .anima-video-frame.started{
        height: 34.7vw;
        .anima-tutorial-title{
            left: 6vw;
            right: auto;
        }
    }
    .anima-video-frame{
        width: 81.5vw;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 14vw;
        padding-right: 2.4vw;
       
        .show-tutorial{
            width: 30vw;
            height: 18vw;
            position: absolute;
            background-image: linear-gradient(to right bottom, #5e146b, #124F30);
            padding: 4px;
            top:0;
            right:2.4vw;
            opacity: 0;
            animation-delay: 0.4s;
            transition: all 0.5s ease;
            iframe{
                width: 100%;
                height: 100%;
            }
            .close-video{
                background:none;
                border:none;
                font-size: 30px;
                color: rgba(255, 255, 255, 0.6);
                position: absolute;
                right: -40px;
                top: -30px;
                width: 34px;
                height: 34px;
                padding: 0;
                outline: none !important;
                box-shadow: none !important;
                i{
                    font-size: 34px;
                }
            }
        }
        .show-tutorial.show{
            width: 61.8vw;
            height: 34.7vw;
            right: 50%;
            top: 0;
            transform: translateX(50%);
            opacity: 1;
            z-index: 1;
        }
        
     
        svg.hide-tutorial{
            opacity: 0;
        }
        > svg{
            transition: opacity 0.4s ease-in-out;
            animation-fill-mode: both;
            width: 30vw;
            height: 18vw;
            z-index: 1;
            #Group_49{
                cursor: pointer;
            }
        }
    }
    
    .pricing-section{     
        background-image: url('../img/partners-valley.png');
        background-repeat: no-repeat;
        background-size:auto 58vh;
        background-position: bottom center;
        position: relative;
        .anima-pricing{
            margin-top: 42.6vh;
            margin-bottom: 10.3vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position:relative;
            flex-wrap:wrap;
            > :nth-child(1){
                border-color: rgba(0, 185, 255, .5);
                background-color: rgba(31, 242, 253, .2);
                box-shadow: 0 0 6px #1FF2FD;
            }
            > :nth-child(3){
                border-color: rgba(0,255,33, 0.45);
                background-color: rgba(0,255,33, .2);
                box-shadow: 0 0 6px rgba(0,255,33, .65);
            }
            .anima-pricing-banner{
                border-radius: 10px;
                border-width: 2px;
                border-style: solid;
                position: relative;
                padding: 20px 35.6px 23.87px 22px;
                width: 27.8%;
                color: #fff; 
                .anima-pricing-title{
                    text-align: right;
                    font-size: 30px;
                    font-family: "PantonMtav3";
                    margin-bottom: 3.8vw;
                }
                .anima-pricing-about{
                    margin-bottom:1.55vw;
                    width: 60%;
                    font-size: 12px;
                    font-family: "BPG LE Studio 02 Caps", sans-serif;

                }
                .anima-pricing-price{
                    margin-top: 5.1vw;
                    font-family: "BPG LE Studio 02 Caps", sans-serif;
                    font-size: 11px;
                    text-align: center;
                    margin-bottom: .93vw;
                }
                .anima-pricing-submit{
                    background-color: transparent;
                    font-size: 13px;
                    font-family: "BPG LE Studio 04 Caps", sans-serif;
                    border-radius: 5px;
                    border:solid 1px #fff;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1.56vw;
                    line-height:  1.56vw;
                    padding: 0 1.25vw;
                    color: #fff;
                    outline: none;
                    font-size: 11px;
                }
            }
            .anima-pricing-banner.pro{
                border-color: rgba(255,0,255, .45);
                background-color: rgba(255,0,255, .20);
                box-shadow: 0 0 6px rgba(255,0,255, .65);
                padding: 22px 38px 28px 26px;
                .anima-pricing-title{
                    font-size: 35px;
                    margin-bottom: 4.3
                }
                .anima-pricing-about{
                    font-size: 14px;
                    margin-bottom: 1.76vw;
                    
                }
                .anima-pricing-price{
                    margin-top: 4.3vw;
                    font-size: 13px;
                }
                // .anima-pricing-submit{

                // }
            }
        } 
        .rounded-figure-pricing{
            position: absolute;
            bottom: 60vh;
            right: 26.8vw;
        }
    }
    .anima-partners{
        // padding-top: 10.57vw;
        width: 48.1vw;
        margin: 0 auto;
        min-height: 67.6vh;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        .for-center{
            height: auto;
            width: 100%;
        }
        .anima-partners-title{
            width: 30vw;   
            position: relative;
            left: 50%;
            transform: translateX(-50%)         
        }
        .anima-partners-list{
            margin-top: 4.72vw;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            :nth-child(1){
                width: 8.4vw;
            }
            :nth-child(2){
                width: 9.81vw;
            }
            :nth-child(3){
                width: 9.5vw;
            }
        }
    }
    .footer-chat-anima{
        display: flex;
        justify-content: center;
        width:100%;
        .chat-anima-btn-footer{
            position: relative;
            font-size: 12px;
            color: #fff;
            font-family: "BPG LE Studio 04 Caps", sans-serif;
            line-height: 1;
            text-align: center;
            width: 190px;
            padding:10px 0 7.5px;
            border: solid #E24EFF 1px;
            border-radius: 5px;
            background-color: rgba(255, 0, 255, .16);
            box-shadow: 0 0 7px rgba(255, 0, 255, .65);
            outline: none !important;
            margin-bottom: 17.3vh;
        }
        .chat-anima-btn-footer:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 4px;
            top: 4px;
            opacity: 0.77;
            border-radius: 5px;
            border: solid 1px #44F6FF;
            box-shadow: 0 0 5px #1EE9FF;
            animation-name: fadeInLeft;
            z-index: -1;
        }
  
    }
}